/* ---------------icons------------------- */

.feature-list-link-svg{
    align-items: center;
    justify-content: center;
    display: inline-flex;

    width: 270px;
    height: 120px;
    border: none;
    box-sizing: border-box;
    background: #F5F4FA;
    border-radius: 4px;
}

.feature-list-item-svg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-list-svg{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    
    &.feature-list-link-svg + .feature-list-link-svg{
        margin-left: 30px;
        margin-bottom: 30px;
    }
}


/* ---------------icons end------------------- */

.section-title{
    color: var(--title-texst-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feature-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text{
    width: 270px;
    height: 72px;
}

.feature-list .text{
    font-style: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-texst-color);
}

.item:nth-child(n+2){
    margin-left: 30px;
}

.container .feature-item .item + .item{
    margin-left: 30;
}

.section-skills{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--primary-white-color);
}